@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.hero {
 /* Adjusted to accommodate the sidebar */
    min-height: 100vh;
    background: #e58d8d76;
    color: #525252;
    
}
nav{
    background: #0693a2;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.logo{
    margin-left: 20px;
    width: 70px;
    height: 64px;
}
.nav{
    z-index: 1001;
}
.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 20px;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img {
    width: 40px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);

}
.sub-menu-link:hover p{
    font-weight: 600;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.75rem;
    background-color: white;
    width: 500px;
    height: 550px;
    box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.2);
    margin: 30px;
    margin-top: 75px;
}
.about-card {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #f2f2f2;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 30px;
    margin-top: 40px;
    text-align: center;
    
  }
  .about-card img {

    height:200px;
    width: 200px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    }
    .btn-home:hover {
        opacity: .95;
    }
    
    .btn-home .animation {
        border-radius: 100%;
        animation: ripple 0.6s linear infinite;
    }
    
    @keyframes ripple {
        0% {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
        }
    
        100% {
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
        }
    }
    .btn-home-2 {
        height: 50px;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        background: #e74885;
        min-width: 200px;
        border: 0;
        border-radius: 4px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
        box-sizing: border-box;
        padding: 16px 20px;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        overflow: hidden;
        cursor: pointer;
        width: 250px;
        margin-top: 10px;
    }
    
    .btn-home-2:hover {
        opacity: .95;
    }
    
    .btn-home-2 .animation {
        border-radius: 100%;
        animation: ripple 0.6s linear infinite;
    }
    
    @keyframes ripple {
        0% {
            box-shadow: 0 0 0 0 rgba(190, 33, 33, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
        }
    
        100% {
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
        }
    }

#services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
h1{
    font-size: 2.5rem;
    margin: 20px;
    color: #525252;
}
.footer{
    background: #0693a2;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: bottom;
    bottom: 0;
    width: 100%;
}
#home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 40px;
    padding-bottom: 230px;
}

.home-text {
    display: flex;
    flex-direction: column;
    margin-top: 175px;
    margin-left: 75px;
}

.home-text p {
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    color: rgba(128, 128, 128, 0.715);

}

.home-text h1 {
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 7px;
    color: black;

}

.home-text h1 span {
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    color: #088178;

}

.home-text h2 {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    color: grey;
    margin-top: 15px;

}

.home-img img {
    height: 650x;
    width: 600px;
    margin-right: 75px;
    margin-top: 40px;
}

.home-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.btn-home {
    height: 50px;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #40B3A2;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    width: 250px;
}

.btn-home:hover {
    opacity: .95;
}

.btn-home .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
}
.btn-home-2 {
    height: 50px;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #e74885;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    width: 250px;
    margin-top: 10px;
}

.btn-home-2:hover {
    opacity: .95;
}

.btn-home-2 .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
}

.btn-login {
    margin-left: 20px;
    width: 250px;
    text-align: center;
    align-items: center;
    transition: .4s;
    border: 2px dashed #00BFA6;
    background-color: #fff;
    color: #00BFA6;
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 600;
}
#hm{
    display: flex;
    font-size: 3.5rem;
    flex-wrap: wrap;
    margin-top: 50px;
}
#hiw{
    border: #00000000 2px solid;
    padding: 10px;
    text-align: left;
    margin: 15px;
    margin-bottom: 30px;
    padding-left: 120px;
    color: #525252bf;
    font-size: 35px;
}
.hiw2{
    
    padding: 10px;
    text-align: left;
    font-size: 15px;
    margin-right:35%;

}
#blog-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
    margin-top: 50px;
  }
  ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgba(0, 0, 0, 0.985);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }

.blog12{
    position: relative;
    left: 100px;
}
.about-card{
    background-color: #ffffff;
}
.blogs{
    text-align: center;
}